@charset "UTF-8";

.title {
    font-size: 25px;
    color: white;
    font-weight: bold;
    width: 95%;
    text-shadow: 2px 2px 5px gray;
    padding: 8px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.right-panel .sub-title{
	font-size: 18px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px gray;
}

.right-panel>.input-container{
	width: 95%;
}

.description {
    font-size: 12px;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
}

.email-auth-input, .newpassword-input{
	display: flex;      
	flex-direction: column;
}

.newpassword-input{
	justify-content: center;
	align-items: center;
}


.newpassword-input>input[type="password"],
.checkPw-input,
.newpassword-input>.page-btns{
	width: 70% !important;
}

.newpassword-input button{
	width: 100% !important;
}


.checkPw-input input{
	width: 100% !important;
}

.email-auth-input>* ,.newpassword-input>*{
	margin-bottom: 10px;
	
}

.email-auth-input input,
.newpassword-input input{
	width: 80%;
}

.input-btn{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.email-input input{
	width: 80%;
}
 
.email-input, .checkNum-input{
	display: flex;
	flex-direction: column;
}

.email-input{
	margin-bottom: 0;
}


.page-btns{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-top: 15px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"],
.input-container input[type="number"] {
    width: 65%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #fefefe;
    font-size: 15px;
    box-shadow: 2px 2px 5px gray;
}

.bi-person-bounding-box, .bi-person-fill-lock, .bi-person-fill-check{
	margin: 15px;
}

.id-info-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 0px;
	color: white;
	padding: 50px;
	border: 1px solid white;
	gap: 10px;
}

input:disabled, button:disabled {
    background-color: #555; /* 어두운 회색 배경 */
    color: #aaa; /* 텍스트 흐릿한 회색 */
    border: 1px solid #444; /* 어두운 회색 테두리 */
    cursor: not-allowed; /* 금지 표시 커서 */
}

