
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f4ee;
    font-family: Arial, sans-serif;
  }
   /*로그인 container*/
  .container {
    display: flex;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .left-panel {
    flex: 1;
    background-color: #4d4d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo{
  	width: 50%;
  	margin: 10px 0px;
  }
  
  .login-message{
  	color: #5A8B63;
  	font-size: 18px;
  	font-weight: bold;
  }
  
  
  .right-panel {
    flex: 1;
    background-color: #5A8B63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 20px;
  }
  
  /* 폼 스타일 */
 .login-input {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #fefefe;
    font-size: 15px;
    box-shadow: 2px 2px 5px gray;
    width: 80%;
    margin: 10px 0px;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
    float: right;
  }
  
  .small-text {
    font-size: 12px;
    color: #ffffff;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
  }
  
  .small-text a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .small-text a:hover {
    text-decoration: underline;
  }
  
  /* 페이지별 스타일 */
  
  
  .flex-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .flex-row button {
    flex: 1;
    margin: 0 10px;
  }
  
  button {
   padding: 10px 10px;
   border: none;
   border-radius: 50px;
   background-color: #4d4d3d;
   color: white;
   font-size: 13px;
   cursor: pointer;
   box-shadow: 2px 2px 5px gray;
   width: 35%;
 }
 
 button:hover {
   background-color: #333;
 }
 
 #loginBtn{
 	margin: 15px 0px;
 	width: 80%;
 }
 
 .error{
	color: #B22222 ;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
}


 