@charset "UTF-8";

.agreement-text{
	max-height: 200px;
	border: 1px solid #362D4B;
}


.search-form, .category-bar{
	display: none;
}

/* 회원가입 화면 전용 스타일 */
.signup-container {
	width: 70%;
	background-color: #ffffff;
	border-radius: 10px;
}

.signup-title {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: #362D4B;
	margin-bottom: 20px;
}

.form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-bottom: 30px; /* 간격 추가 */
}

.form-group div {
	padding: 0 !important;
}

.input-label {
	display: flex;
	white-space: nowrap;
	width: 25%;
}

.form-group label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #4d4d3d;
}

.input-group {
	width: 75%;
}

.input-group input {
	width: 100%;
	display: flex;
	gap: 10px; /* 요소 사이의 간격 */
	height: 38px;
}

.form-select.email-domain {
	margin-left: 5px; /* 입력창과 select 사이 여백 조정 */
}

.form-group input, .form-group select {
	height: 38px; /* 높이를 통일 */
	box-sizing : border-box;
	border: 1px solid #362D4B;
	border-radius: 5px !important;
	font-size: 14px;
	flex: 1;
	width: 100%;
}

.form-group .error {
	color: #e74c3c;
	font-size: 12px;
}

.email-domain {
	padding: 0 !important;
}

.signup-btn{
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: #362D4B;
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.id-group{
	align-items: center;
	justify-content: center;
}


#check-id-btn{
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: #362D4B;
	color: white;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	height: 38px;
}

.signup-btn:hover {
	background-color: #362D4B;
}

.agree-radio-container{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0px 10px;
}

#id{
	width: 60%;
}


/* 라디오 버튼과 레이블 스타일 */
.role-group label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px; /* 각 옵션 간 간격 */
  font-size: 16px; /* 텍스트 크기 증가 */
  cursor: pointer; /* 마우스를 올렸을 때 클릭 가능 표시 */
}

/* 라디오 버튼 크기 조정 */
.role-group input[type="radio"] {
  width: 20px; /* 버튼 너비 */
  height: 20px; /* 버튼 높이 */
  margin-right: 10px; /* 버튼과 텍스트 간 간격 */
}

