<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
</head>
<body> <!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<div><h2>IAMPORT 결제 데모</h2>
    <li>
        <button id="iamportPayment" type="button">결제테스트</button>
    </li>
</div>
<script>
    //문서가 준비되면 제일 먼저 실행
    $(document).ready(function () {
        $("#iamportPayment").click(function () {
            proceedPay(); //버튼 클릭하면 호출
        });
    })

    function proceedPay() {
        $.ajax({
            url: '/payment/proceed',
            type: 'POST',
            async: true,
            dataType: "Json",
            data:
                $('#orderForm').serialize(),
            success: function (data) {
                if (data.cnt > 0) {
                    requestPay(data)
                } else {
                    alert(data.msg)
                }
            },
            error: function (e) {
                alert("에러")
            }
        });

    }

    function requestPay(data) {
        IMP.init("imp23541524 코드"); // 예: imp00000000
        //IMP.request_pay(param, callback) 결제창 호출

        IMP.request_pay({ // param
            pg: "html5_inicis.INIBillTst", //결제대행사 설정에 따라 다르며 공식문서 참고
            pay_method: "card", //결제방법 설정에 따라 다르며 공식문서 참고
            merchant_uid: data.no, //주문(db에서 불러옴) 고유번호
            name: data.products,
            amount: data.price,
            buyer_email: "",
            buyer_name: data.name,
            //buyer_tel: "010-4242-4242",
            buyer_addr: data.addr,
            //buyer_postcode: "01181"
        }, function (rsp) { // callback
            if (rsp.success) {
                // 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
                // jQuery로 HTTP 요청
                jQuery.ajax({
                    url: "/payment/verify/" + rsp.imp_uid,
                    method: "POST",
                }).done(function (data) {
                    // 위의 rsp.paid_amount 와 data.response.amount를 비교한후 로직 실행 (iamport 서버검증)
                    if (rsp.paid_amount == data.response.amount) {
                        succeedPay(rsp.imp_uid, rsp.merchant_uid);
                    } else {
                        alert("결제 검증 실패");
                    }
                })
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
                alert(msg);
            }
        });
    }
</script>
</body>
</html>